<section class="l-featured">
    <div class="row">
        <div class="large-12 columns">
            <section class="block block-block block-block-4">

                <h2 class="block-title">{{ i18n "home-page-intro-title"}}</h2>

                <p>{{ i18n "home-page-intro-text" | safeHTML }}</p>

            </section>
        </div>
    </div>
</section>

<section class="l-featuredProducts">
    <div class="row">
        <div class="medium-6 columns">
            <section class="block block-block block-block-7">
                <p><a href="new-products"></a></p>
                <div class="media media-element-container media-media_original">
                    <div id="file-10" class="file file-image file-image-png">
                        <div class="content">
                            <img alt="" class="media-image" height="214" width="214" typeof="foaf:Image"
                                src="/assets/images/icon-new.png" title="">
                        </div>
                    </div>
                </div>
                <p></p>
                <p class="no-space-after"><i class="fa fa-angle-down" style="top: 0px;">&nbsp;</i></p>
                <h2>{{ i18n "home-page-cta-new-equipments-title"}}</h2>
                <p>{{ i18n "home-page-cta-new-equipments-button" | safeHTML }}</p>
            </section>
        </div>
        <div class="medium-6 columns">
            <section class="block block-block block-block-6">
                <p><a href="used-equipment"></a></p>
                <div class="media media-element-container media-media_original">
                    <div id="file-9" class="file file-image file-image-png">
                        <div class="content">
                            <img alt="" class="media-image" height="214" width="214" typeof="foaf:Image"
                                src="/assets/images/icon-used.png" title="">
                        </div>
                    </div>
                </div>
                <p></p>
                <p class="no-space-after"><i class="fa fa-angle-down" style="top: 0px;">&nbsp;</i></p>
                <h2>{{ i18n "home-page-cta-used-products-title"}}</h2>
                <p>{{ i18n "home-page-cta-used-products-button" | safeHTML }}</p>
            </section>
        </div>
    </div>
</section>