
<div class="row">
  <div class="large-12 columns">
    <nav class="top-bar" data-topbar="" data-options="mobile_show_parent_link:true">
      <ul class="title-area">
        <li class="name">
          {{- with .Page.Params.logo | default .Site.Params.logo }}
          <a title="{{ $.Site.Title }}" href="{{ "" | absLangURL }}">
            <img width="{{ $.Page.Params.logo_width | default $.Site.Params.logo_width | default " 140"}}"
              class="img-responsive hidden-xs" src="{{ . | absURL }}" alt="{{ $.Site.Title }}" />
          </a>
          {{ end }}
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
  
      <section class="top-bar-section" style="left: 0%;">
        <ul id="main-menu" class="main-nav left">
          {{ partial "nav.html" . }}
        </ul>
        <div class="language"> </div>
      </section>
    </nav>
  </div></div>